body {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main {
    width: 100vw;
    min-height: 100vh;
}

.text {
    width: 100%;
    margin-top: 7vh;
}

.textarea {
    width: 100vw;
    max-width: 100%;
    min-height: 40vh;
    font-size: 18px;
    color: #0A3871;
    border: none;
    padding: 1rem;
}

.textarea::placeholder {
    color: #0A3871;
}

.advice {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 229px;
    height: 18px;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    font-size: 12px;
    color: #495057;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 343px;
    height: 158px;
    margin: 0 auto;
}

.buttons > button {
    width: 343px;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
}

.encriptar {
    background-color: #0A3871;
    color: #FFFFFF;
    border: none;
}

.desencriptar {
    background-color: #FFFFFF;
    color: #0A3871;
    border: 2px solid #0A3871;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40vh;
    background-color: #FFFFFF;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.image {
    display: none;
}

.message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-items: center;
    text-align: center;
    width: 327px;
    height: 186px;
    border-radius: 32px;
    margin: 0 auto;
}

.box-shadow {
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.small-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 263px;
    height: 122px;
    margin: 0 auto;
}

.no-message {
    font-weight: bold;
    font-size: 24px;
}

.message-text {
    font-size: 16px;
}

.copy {
    width: 280px;
    height: 52px;
    border-radius: 24px;
    text-align: center;
    font-size: 12px;
    background-color: #FFFFFF;
    border: 2px solid #0A3871;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 500ms ease-in-out;
}

.copy:hover {
    background-color: #0A3871;
    color: white;
    border: 2px solid red;
}

.flex-between {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.margin-bottom {
    margin-bottom: 3.5rem;
}

.final-message {
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10vh;
    background-color: #CCCCCC;
}

footer > p {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .buttons {
        flex-direction: row;
        width: 688px;
        height: 67px;
    }

    .buttons > button {
        width: 332px;
    }

    .message {
        min-height: 40vh;
    }

    .message-box {
        width: 688px;
        height: 200px;
        margin-bottom: 0;
    }

    .small-box {
        width: 624px;
        height: 69px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 10vh;
        background-color: #CCCCCC;
    }
}

@media screen and (min-width: 992px) {
    body {
        display: grid;
        grid-template-columns: 10% 1fr;
        grid-template-rows: 1fr auto;
        gap: 1rem;
        box-sizing: border-box;
    }

    header {
        grid-row: 1;
        grid-column: 1;
    }

    main {
        max-width: 100%;
        grid-row: 1;
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .text {
        flex-basis: 60%;
        min-height: 80vh;
        padding-top: 1rem;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .text > * {
        width: 80%;
    }

    .textarea {
        padding: 0;
        width: 680px;
    }

    .advice {
        margin: 0;
        margin-right: 65%;
        margin-top: 25%;
        margin-bottom: 1rem;
        width: 229px;
        height: 16px;
        font-size: 12px;
    }

    .buttons {
        width: 680px;
        height: 67px;
    }

    .buttons > button {
        width: 328px;
        height: 67px;
    }
    
    .message {
        flex-basis: 40%;
        width: 400px;
        height: 100vh;
        margin-right: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .message-box {
        width: 336px;
        height: 122px;
    }
    
    .image {
        display: block;
        width: 320px;
        height: 304px;
    }

    .small-box {
        width: 90%;
        height: 90%;
        border-radius: none;
        box-shadow: none;
    }

    .hidden {
        display: none;
    }

    .flex-between {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .margin-bottom {
        margin-bottom: 3.5rem;
    }

    footer {
        grid-row: 2;
        grid-column: 1 / span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 10vh;
        background-color: #CCCCCC;
    }

    footer > p {
        margin-right: 8rem;
    }
}